<!--The content below is only a placeholder and can be replaced.-->
<div id="containerDiv" class="js">
  <div id="titleDiv">
    Welcome to {{ title }}
  </div>
  
    <!-- <div class="fileUploadWrapper">
        <input type="file" class="fileUpload" id="fileUpload" #fileInput (change)="fileChange($event)">
        
    </div> -->

    <div class="upload-btn-wrapper">
      <button class="btn" >Upload a file</button>
      <input type="file" name="myfile" (change)="fileChange($event)"/>
      <span id="help">Only .PNG files are supported.</span>
    </div>
    <div id="charaDiv" *ngIf="faceData">
        <ul>
          <li>You look awesome at age {{faceData.faceAttributes.age}}</li>
          <li><div *ngIf="faceData.faceAttributes.glasses=='NoGlasses'; else glasses">Good that you dont have glasses yet!</div>
              <ng-template #glasses>Those {{faceData.faceAttributes.glasses}} look great on you.</ng-template> </li> 
        </ul>
    </div>
  <div  id="imgDiv">
      <img id="imageContainer" [src]="localUrl" > 
        <div *ngFor="let face of allFaces"> 
          <div class="faceClass" id="{{face.faceId}}" [style.left.px]="face.faceLeft" [style.top.px]="face.faceTop" [style.width.px]= "face.faceWidth" [style.height.px]="face.faceHeight" ></div>
        </div>
      </div>
  <div *ngIf="error" id="error">{{errorMsg}}</div>

  
</div>
