#containerDiv{
    display: grid;
    align-items: center;
    grid-template-areas: 
    "header"
    "button"
    "chars"
    "image"
}

#imgDiv{
    
    background-repeat: no-repeat;
    border: 1px solid #bbb;
    border: solid;
    background-color: cadetblue;
    grid-area: image;
    margin-left: auto;
    margin-right: auto;
    
    right: 0;
    top:30%;
}
#face{
    position: absolute;
    border:solid;
    
}
#charaDiv{
    display: inline;
    top:30%;
    position: absolute;
    justify-content: center;
    align-items: center;
    grid-area: chars;
    font-size: xx-large;
    background: blanchedalmond;
}
#error{
    display: flex;
    top:30%;
    justify-content: center;
    align-items: center;
    grid-area: chars;
    font-size: xx-large;
}
#titleDiv{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: -webkit-xxx-large;
    background-color: black;
    color: sandybrown;
    font-family: sans-serif;
    grid-area: header;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    padding: 2%;
    width: 100vw;
    display: flex;
    justify-content: center;
    grid-area: button
  }
  
  .btn {
    border: 2px solid gray;
    color:white;
    background-color:brown;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
  }
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }

  